{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@?\\w", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-sort-json"],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
